.lc-wrapper {
  position: relative;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  border-radius: 12px;
}

.lc-preview {
  width: 100%;
  display: block;
  border-radius: 12px;
  transition: transform 0.25s ease;
  transform-origin: center center;
}

.lc-flash {
  position: absolute;
  bottom: 10px;
  right: 10px;

  width: 42px;
  height: 42px;

  border-radius: 50%;
  border: none;

  background: rgba(0,0,0,0.6);
  color: white;

  cursor: pointer;
}

.lc-overlay {
  position: fixed;
  inset: 0;

  background: rgba(0,0,0,0.88);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.hidden {
  display: none;
}

.lc-overlay-content {
  position: relative;
  width: 90vw;
  max-width: 900px;
}

.lc-stream {
  width: 100%;
  border-radius: 12px;
}

.lc-close {
  position: absolute;
  top: -15px;
  right: -15px;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  border: none;

  background: white;
  cursor: pointer;
}

.lc-flash-overlay {
  position: absolute;
  bottom: 15px;
  right: 15px;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  border: none;

  background: rgba(255,255,255,0.15);
  color: white;

  cursor: pointer;
}